h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    padding: 0;
    margin: 0;
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
	background-repeat: none;
	background-position: top;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
header {
    height: 120px;
    position: relative;
    margin-bottom: 135px;
}
header img {
    display: block;
    position: absolute;
    top: 29px;
    left: 0;
    height: 36px;
    width: 85px;
}
header nav{
    position: absolute;
    top: 42px;
    left: 164px;
}
header nav ul {
    margin: 0;
    padding: 0;
}
header nav li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 54px;
}
header nav a {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
header address {
    text-align: right;
    position: absolute;
    top: 27px;
    right: 0;
}
header address a {
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 26px;
    color: #fff;
    font-style: normal;
}
header address div {
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    font-style: normal;
    text-decoration: underline;
}
.content .author-tours h1 {
    width: 510px;
    height: 200px;
    max-width: 50%;
    font-weight: 700;
    font-size: 72px;
    color: #fff;
}
.content .author-tours p {
    font-weight: 400;
    font-size: 18x;
    color: #fff;
    padding-top: 28px;
    padding-bottom: 34px;
    margin: 0;
}
.content .author-tours a {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    text-transform: uppercase;
    border: none;
}
.content .author-tours a:hover {
    color: #F5170E;
    background: #fff;
    border: 1px solid #F5170E;
}
.hot-tours {
    margin-top: 246px;
    margin-bottom: 127px;
}
.hot-tours .title {
    display: flex;
    align-items: center;
    margin-bottom: 51px;
}
.hot-tours h2 {
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    padding-right: 12px;
}
.hot-tours ul {
    margin: 0;
    padding: 0;
}
.hot-tours li {
    display: inline-block;
    min-height: 450px;
    max-width: 362px;
    margin-right: 27px;
}
.hot-tours li:last-child {
    margin-right: 0;
}
.hot-tours .header {
    background: #fff;
    border-radius: 5px 5px 0 0;
}
.hot-tours .header img {
    min-height: 144px;
    border-radius: 5px 5px 0 0;
}
.hot-tours .content {
    padding: 33px 16px 26px 22px;
    background: #fff;
    border-radius: 0 0 5px 5px;
}
.hot-tours .content h3 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-bottom: 21px;
}
.hot-tours .content .icons {
    display: flex;
    align-items: center;
}
.hot-tours .content .night {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #666;
}
.hot-tours .content .breakfast {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #666;
}
.hot-tours .content img {
    margin-right: 10px;
}
.hot-tours .content p {
    margin-right: 28px;
}
.hot-tours .content .text {
    margin-top: 34px;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 14px;
    color: #303030;
    
}
.hot-tours .content a {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 30px;
    text-transform: uppercase;
    border: none;
}
.hot-tours .content a:hover {
    color: #F5170E;
    background: #fff;
    border: 1px solid #F5170E;
}
.news h2 {
    padding-top: 127px;
    padding-bottom: 51px;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}
.news li {
    position: relative;
    width: 557px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
}
.news li:last-child {
    margin-right: 0;
}
.news li img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 44px 48px 32px;
    min-height: 72px;
    word-wrap: break-word;
}
.news .text p {
    margin: 0;
    padding-bottom: 13px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
} 
.news .text h3 {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    padding-bottom: 4px;
}
.news .text article {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding-bottom: 48px; 
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 58px;
    margin-bottom: 153px;
}
.pagination p {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-right: 36px;
}
.pagination ul {
    list-style-type: none;
}
.pagination li {
    display: inline-block;

}
.pagination li a {
    text-align: center;
    width: 32px;
    height: 32px;
    margin-right: 24px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
.pagination li a:hover {
    background: #fff;
    color: #F5170E;
    border-radius: 50%;
}
.about::before {
    content: "";
    display: inline-block;
    width: 750px;
    height: 505px;
    background: url(../assets/images/gates.png);
}
.about {
    display: flex;
}
.about .test {
    vertical-align: top;
    background: url(../assets/images/mountains.png);
    background-repeat: no-repeat;
    height: 455px;
    width: 785px;  
    margin-bottom: 53px;
    padding: 0 350px 0 81px;
    margin-top: 97px;
    margin-left: -47px;
}
.about h2 {
    margin-top: 70px;
    margin-bottom: 37px;
    font-weight: 700;
    font-size: 36px;
    color: #000;
}
.about p {
    margin-bottom: 61px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}
.about a {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    text-transform: uppercase;
    border: none;
}
.about a:hover {
    color: #F5170E;
    background: #fff;
    border: 1px solid #F5170E;
}
footer {
    display: flex;
    align-items: center;
    height: 146px;
}
footer img {
    height: 36px;
    width: 85px;
}
footer .menu ul {
    margin-left: 79px;
}
footer .menu li {
    display: inline-block;
    margin-right: 54px;
}
footer .menu li a {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
footer nav ul {
   margin-left: 190px;
}
footer nav li {
    display: inline-block;
    margin-right: 10px;
}
footer .social {
    height: 36px;
    width: 36px;
}
footer address {
    margin-left: 74px;
}
footer address div {
    font-weight: 400;
    font-size: 11px;
    color: #9a9a9a;
    font-style: normal;
    text-align: right;
}
footer address a {
    font-weight: 400;
    font-size: 26px;
    color: #fff;
    font-style: normal;
}