body {
    background-image: url(../assets/images/headline.png);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
    max-height: 412px;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1141px;
}
header {
    display: flex;
    margin-bottom: 90px;
    margin-top: 20px;
    align-items: center;
    box-sizing: border-box;
}
header div:nth-child(1) {
    flex: 1;
}
header div:nth-child(2) {
    flex: 5;
}
header div:nth-child(3) {
    flex: 2;
}
header img {
    display: block;
    height: 36px;
    width: 85px;
}
header nav li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 47px;
    padding-left: 8px;
}
header nav a {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
header nav a:hover {
    color: #DA0100;
}
header address {
    display: flex;
    flex-direction: column;
    text-align: right;
}
header address a {
    margin-bottom: -5px;
    font-weight: 400;
    font-size: 26px;
    color: #fff;
    font-style: normal;
    margin-top: 10px;
}
header .main {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    cursor: pointer;
}
header address .main a {
    font-weight: 400;
    font-size: 13px;
    color:  #98A4A8;
    font-style: normal;
    text-decoration: underline;
    margin: 0;
}
header .main:hover .dropdown {
    left: 125px;
    opacity: 1;
}
header .main .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #EDEDED;
    width: 160px;
    height: 65px;
    top: 30%;
    margin-top: 20px; 
    left: -9999px;
    opacity: 0;
    transition: opacity .4s;
    border-radius: 4px;
}
header .main .dropdown::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 33px;
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #EDEDED;
}
header .main .dropdown::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: -29px; 
    height: 30px; 
}
header .main .dropdown li {
    display: flex;
    font-weight: 600;
    font-size: 13px;
    color:  #1E1F20;
    font-style: normal
}
header .main .dropdown span {
    font-weight: 600;
}
.content .service h1 {
    padding-bottom: 104px;
    font-weight: 700;   
    font-size: 72px;
    color: #fff;
    letter-spacing: 2px;
}
.content .service div {
    display: flex;
    align-items: center;
    color: #9a9a9a;
    padding-bottom: 21px;
}
.content .service a {
    font-weight: 700;
    font-size: 14px;
    color: #9a9a9a;
    text-decoration: underline;
}
.content .service p::before {
    content: "\00a0 ";
}
.content .service p::after {
    content: "\00a0 ";
}
.waterfall-edge {
    background: #f2f2f2;
}
.waterfall {
    display: flex;
    padding-top: 98px;
}
.waterfall div:nth-child(1) {
    flex: 1;
}
.waterfall div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 56px;
    padding-right: 20px;
}
.waterfall h2 {
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin-top: 15px;
}
.waterfall p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #303030;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
}
.waterfall a {  
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    text-transform: uppercase;
    border: none;
}
.waterfall a:hover {
    color: #F5170E;
    background: #fff;
    border: 1px solid #F5170E;
}
.island {
    display: flex;
    padding-top: 45px;
}
.island div:nth-child(1) {
    flex: 1;
}
.island div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 56px;
    padding-right: 20px;
}
.island h2 {
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin-top: 15px;
}
.island p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #303030;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
}
.island a {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    text-transform: uppercase;
    border: none;
}
.island a:hover {
    color: #F5170E;
    background: #fff;
    border: 1px solid #F5170E;
}
.pagination-edge {
    background: #f2f2f2;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 86px;
}
.pagination p {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-right: 15px;
}
.pagination ul {
    list-style-type: none;
}
.pagination li {
    display: inline-block;
}
.pagination li a {
    text-align: center; 
    font-weight: 700;
    font-size: 16px;
    color: #000;
    padding: 5px 11px 6px 11px;
}
.pagination li a:hover {
    background: #F5170E;
    color: #fff;
    border-radius: 50%;
}
.partners-edge {
    background: #f4f5f5;
    padding-bottom: 36px;
}
.partners h2 {
    font-weight: 700;
    font-size: 48px;
    color: #000;
    padding-bottom: 85px;
    padding-top: 88px;
}
.partners .campany div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partners .campany div div {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    filter: grayscale(100%);
}
.partners .campany div div:hover{
    filter: grayscale(0%);
}
.partners .campany div a{
    padding-bottom: 70px;
}
.footer-edge {
    background: #001821;
}
footer {
    display: flex;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 48px;
}
footer div:nth-child(2) {
    flex: 2;
}
footer div:nth-child(3) {
    flex: 3;
}
footer div:nth-child(3) {
    flex: 1;
}
footer img {
    height: 36px;
    width: 85px;
}
footer .menu-sprite {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .menu li {
    display: inline-block;
    margin-right: -30px;
    margin-left: 80px;
}
footer .menu li a {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
footer .menu li a:hover {
    color: #DA0100;
}
footer nav li {
    display: inline-block;
}
footer .icon {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}
footer .icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    transition: .3s;
}
footer .icon:hover:after {
    opacity: 0;
}
footer .telegram:after {
    background: url('../assets/images/sprites.png')  -122px -66px;
}
footer .vk:after {
    background: url('../assets/images/sprites.png')  -10px -122px;
}
footer .facebook:after {
    background: url('../assets/images/sprites.png')  -10px -10px;
}
footer .instagram:after {
    background: url('../assets/images/sprites.png')  -10px -66px;
}
footer .icon:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}
footer .icon:hover:before {
    opacity: 1;
}
footer .telegram:before {
    background: url('../assets/images/sprites.png')  -122px -10px;
}
footer .vk:before {
    background: url('../assets/images/sprites.png')  -66px -122px;
}
footer .facebook:before {
    background: url('../assets/images/sprites.png')  -66px -10px;
}
footer .instagram:before {
    background: url('../assets/images/sprites.png')  -66px -66px;
}
footer .link-footer {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
}
footer address div {
    font-weight: 400;
    font-size: 11px;
    color: #9a9a9a;
    font-style: normal;
    text-align: right;
}
footer address a {
    font-weight: 400;
    font-size: 26px;
    color: #fff;
    font-style: normal;
}